<% var last; %>
<section class="raids-list">
<% site.pages.filter(function(item){ return item.raid === 'Antorus'; }).sort('order', 1 ).each(function(post, i){ %>
  
  <% if (post.raid !== last) { %>

  <% if (i !== 0) { %>
    </ul>
  <% } %>


  <h2><%= post.raid %></h2>
  <ul>
  <% } %>
  
  <li><%= post.order %> - <a href="<%- url_for(post.path) %>"><%= post.title %></a> </li>
  
  
  <% last = post.raid; %>
<% }) %>
<% if (site.pages.length){ %>
</ul>
  </div></section>
<% } %>

</section>